* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	/*для того чтобы прижать футер к низу*/
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000000;
}

@font-face {
	font-family: open-sans;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: open-sans;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

body {
	height: 100%;
	/* для того чтобы прижать футер к низу */

	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: #000000;
}



/* Стили Header для ПК*/
.header {
	padding: 19px 0px 55px 52px;

	background: url("../img/banner-bg.jpg") no-repeat top 0px left 10px/ cover #000000;
	position: relative;

	z-index: 1;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.content {
	max-width: 1200px;

	padding: 0 15px;
	margin: 0 auto;
}

.container {
	padding: 9px 1px 73px 1px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.logo-img {
	width: 179px;
	color: white;
}

.menu-list {
	display: flex;
	margin-right: 33px;
	margin-bottom: 3px;
}

.menu-list-item:nth-child(n + 2) {
	margin-left: 35px;
}

.menu-link {
	color: #ffffff;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.menu-link:hover {
	text-decoration: underline;
	text-shadow: 0.2px 0.2px #ffffff;
}

.intro {

	margin-right: 28px;
	padding: 28px 241px 67px 238px;
}

.intro-title {

	margin: 0 auto;

	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 2.8rem;
	line-height: 1.7;
	font-weight: 700;
}

/*Стиль хээр и меню для мобильной версии*/
@media (max-width: 767px) {
	.menu {
		padding-bottom: 2px;
		margin-right: 15px;
	}

	.menu-list {
		display: none;
	}

	.menu-list {
		display: none;
	}

	.burger-menu {
		width: 1.4em;
		height: 1em;
		border: none;
		background-color: transparent;
		font-size: 1.25rem;
		position: relative;
		text-indent: -9999px;
		cursor: pointer;

	}

	.burger-menu-item {
		width: 82%;
		height: 16%;
		margin-top: -0.1em;
		background-color: #ffffff;
		position: absolute;
		left: 0;
		top: 50%;
	}

	.burger-menu:before {
		top: 0;
	}

	.burger-menu:after {
		bottom: 0;
	}

	.burger-menu:before,
	.burger-menu:after {
		content: "";
		width: 82%;
		height: 16%;
		background-color: #ffffff;
		position: absolute;
		left: 0;
	}

	.content {
		padding: 0 14px;
	}

	.container {
		padding: 26px 2px 54px 19px;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: end;
	}

	.header {
		padding: 0;
		background: url(../img/banner-bg.jpg) no-repeat -928px 0px/ 644% #000000;
	}


	.logo-img {
		width: 265px;
		margin-top: 171px;
		padding-right: 36px;

	}

	.logo-img-link {
		margin: auto;
	}

	.intro {
		margin-top: -23px;
		margin-right: 8px;
		padding: 0px 0px 160px 24px;

	}

	.intro-title {

		font-size: 1.64rem;
		line-height: 1.4;
		padding-bottom: 50px;
	}
}


@media (min-width: 1200px) {

	.burger-menu {
		display: none;
	}

}

/*Стили хэдэр для планшетов*/
@media (min-width: 768px) and (max-width: 1199px) {

	.menu-list {
		display: none;
	}

	.burger-menu {
		width: 1.4em;
		height: 1em;
		border: none;
		margin-right: 5px;
		background-color: transparent;
		font-size: 1.25rem;
		position: relative;
		text-indent: -9999px;
		cursor: pointer;
	}

	.burger-menu-item {
		width: 82%;
		height: 16%;
		margin-top: -0.1em;
		background-color: #ffffff;
		position: absolute;
		left: 0;
		top: 50%;
	}

	.burger-menu:before {
		top: 0;
	}

	.burger-menu:after {
		bottom: 0;
	}

	.burger-menu:before,
	.burger-menu:after {
		content: "";
		width: 82%;
		height: 16%;
		background-color: #ffffff;
		position: absolute;
		left: 0;
	}

	.content {
		padding: 0 22px;
	}

	.container {
		padding: 42px 3px 54px 14px;
	}

	.header {
		padding: 0;
		background: url("../img/banner-bg.jpg") no-repeat -419px 0px/ 214% auto#000000
	}

	.logo-img {
		width: 159px;
	}

	.intro {

		padding: 32px 0px 63px 43px;

	}

	.intro-title {

		font-size: 2.5rem;
		line-height: 1.4;
		padding-bottom: 50px;
	}
}

/*-------------------------------------------------*/


.main {
	flex: 1 1 auto;
	/* для того чтобы прижать футер к низу */
	margin: 60px 0px;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.main {
		margin: 45px 0px;
	}
}

/*Стилизация блока Попап*/

.popup {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	z-index: 10;
}

.popup::after {
	content: "";
	position: relative;
	width: 20px;
	height: 20px;
	top: 11.8%;
	right: 34%;
	background: url(/svg/form-x.svg) no-repeat;
}

.popup__container {
	max-width: 33vw;
	padding: 50px 30px;
	margin: auto;
	background-color: #ffffff;
	box-sizing: border-box;
	position: relative;
}

.feed-back__form {
	margin-left: 9px;
}

.feed-back {
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	color: #000000;
}

.feed-back__title {
	position: relative;
	padding-left: 12px;
	margin-top: 0px;
	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
}

.feed-back__title::after {
	content: "";

	position: absolute;
	margin: auto;
	right: 0;
	left: 4px;
	top: 34px;
	width: 67px;

	height: 3px;

	background: #e1d9bd;
}

.feed-back__content {
	margin-top: 40px;
}

.feed-back__column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 41px;
}

/* .feed-back__radio {
	padding-right: 10px;
}

.feed-back__question {
	font-family: open-sasn, sans-serif;
	font-size: 0.875rem;
} */

.textarea {
	min-width: 100%;
}

.textarea-field {
	min-width: 100%;
	padding: 17px 30px 20px 22px;
	height: 148px;
	resize: none;
	border: none;
	background-color: #f3f7f6;
	font-family: open-sasn, sans-serif;
	font-size: 0.875rem;
	box-sizing: border-box;
}

.textarea:focus {
	border: none;
}

.feed-back__question {
	margin-bottom: 9px;
	padding-right: 10px;
	font-size: 0.81rem;
}

.radio-flex {
	display: flex;
	padding-left: 33px;
	margin-bottom: -15px;

}

.radio {
	position: relative;
	margin-right: 37px;

}

.feed-back__radio-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
}

.feed-back__radio-label {
	font-size: 0.81rem;
	color: #000000;
	cursor: pointer;
}

.feed-back__radio-label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: -24px;
	width: 18px;
	height: 18px;
	border: 1px solid #b59f5b;
	background-color: #ffffff;
	border-radius: 50%;
	z-index: 1;
}

.feed-back__radio-label::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: -21px;
	width: 12px;
	height: 12px;
	border: 1px solid #b59f5b;
	background-color: #b59f5b;
	border-radius: 50%;
	opacity: 0;
	z-index: 2;
}

.feed-back__radio-input:checked+.feed-back__radio-label::after {
	opacity: 1;
}

.select {
	min-width: 100%;
	padding: 15px 30px 15px 19px;
	border: none;
	background: url("../svg/form-arrows.svg") right 17px center/ 10px no-repeat #f3f7f6;
	font-size: 0.86rem;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.feed-back__button {
	background-color: #b59f5b;
	width: 100%;
	padding: 14px 31px;
	border: none;
	cursor: pointer;
	font-size: 0.81rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.feed-back__button:hover {
	background-color: #323232;
}

.popup_hidden {
	display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.popup::after {
		width: 27px;
		height: 27px;
		top: 0%;
		right: 26.6%;
	}

	.feed-back__form {
		margin-left: -6px;
	}

	.feed-back__title {
		padding-left: 2px;
		margin-top: 0px;
		font-size: 1.1rem;
	}

	.popup__container {
		max-width: 49vw;
		padding: 50px 30px;
	}

	.popup {
		padding-top: 151px;
	}

	.feed-back__title::after {
		left: -8px;
		top: 34px;
		width: 65px;
	}

	.feed-back__content {
		margin-top: 37px;
	}

	.feed-back__question {
		margin-bottom: 8px;
		font-size: 0.825rem;
	}

	.select {
		padding: 15px 32px 15px 17px;
		font-size: 0.825rem;
		background: url(../svg/form-arrows.svg) right 7px center/ 10px no-repeat #f3f7f6;
	}

	.feed-back__column {
		padding-bottom: 27px;
	}

	.radio-flex {
		padding-left: 30px;
		padding-top: 13px;
	}

	.radio {
		margin-right: 59px;
		margin-bottom: 22px;
	}

	.feed-back__radio-label::before {

		width: 22px;
		height: 22px;
	}

	.feed-back__radio-label::after {
		top: 4px;
		left: -20px;
		width: 14px;
		height: 14px;
	}

	.feed-back__radio-label {
		font-size: 0.825rem;
		margin-left: 4px;
	}

	.textarea-field {
		padding: 18px 30px 20px 19px;
		height: 130px;
		font-size: 0.9rem;
	}

	.feed-back__button {
		padding: 18px 30px;
		font-size: 0.86rem;
	}
}

@media (max-width: 767px) {
	.popup {
		height: 100vh;
		padding-bottom: 280px;
	}

	.popup::after {
		width: 25px;
		height: 25px;
		top: -5%;
		right: 8%;
	}

	.popup__container {
		padding: 32px 29px;
		max-width: 91vw;
		margin: 0 auto;
	}

	.feed-back__title {
		padding-left: 29px;
		font-size: 1rem;
	}

	.feed-back__title::after {
		left: 30px;
		top: 31px;
		width: 65px;
	}

	.feed-back__column {
		padding-bottom: 31px;
	}

	.select {
		min-width: 100%;
		padding: 16px 8px 16px 19px;
		background: url(../svg/form-arrows.svg) right 12px center/ 10px no-repeat #f3f7f6;
	}

	.feed-back__question {
		margin-bottom: 10px;
	}

	.radio-flex {
		margin-top: 3px;
		margin-bottom: 3px;
		padding-left: 28px;
	}

	.radio {
		position: relative;
		margin-right: 68px;
	}

	.textarea-field {
		height: 123px;
	}

	.feed-back__button {
		width: 100%;
	}

	.feed-back__question {
		padding-right: 7px;
	}
}

/*----------------------------------------*/

/*Стилизация блока трендов*/
.trends {
	width: 100%;
	margin-bottom: 65px;
}

.trends-content {
	width: 1200px;
	padding: 0 15px 0 15px;
}

.trends-title {
	position: relative;
	padding: 0px 0px 42px 20px;

	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
}

.trends-title::after {
	content: "";

	position: absolute;
	margin: auto;
	right: 0;
	left: 16px;
	top: 32px;

	width: 66px;
	height: 3px;

	background: #e1d9bd;
}

.trends-items {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.trend-item {
	position: relative;

	display: flex;
	align-items: flex-end;
	flex: 1 1 25%;
	min-height: 318px;
	z-index: 1;
}


.trend-item::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.trend1 {
	background: url("../img/trend1.jpg") no-repeat top 0px left 0px/ cover #000000;
}

.trend2 {
	background: url("../img/trend2.jpg") no-repeat top 0px left 0px/ cover #000000;
}

.trend3 {
	background: url("../img/trend3.jpg") no-repeat top 0px left 0px/ cover #000000;
}

.trend4 {
	background: url("../img/trend4.jpg") no-repeat top 0px left 0px/ cover #000000;
}

.trend-about {
	padding: 36px 36px 36px 41px;
	margin: 0px 15px 15px 15px;
	border: 3px solid #b59f5b;
}

.trend-about_p {
	padding: 39px 73px 37px 35px;
}

.trend-about:nth-child(n+2) {

	padding: 39px 64px 37px 35px;

}

.trend-list {
	display: flex;
	flex-wrap: wrap;
}


.trend-list-item:nth-child(n + 2) {
	margin-left: 19px;
}

.trend-link {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	color: #b59f5b;
}

.trend-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.trend-title {
	margin-bottom: -4px;
	margin-top: 5px;

	font-size: 1.25rem;
	text-transform: uppercase;
	line-height: 1.2;
}

h2 .trend-title-link {
	color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.trends-items {
		flex-wrap: wrap;
	}

	.trend-item {
		flex-basis: 49%;
		min-height: 246px;
	}

	.trends-title {
		padding: 0px 0px 32px 19px;
		font-size: 1.1rem;
	}


	.trend-about {
		margin: 0px 10px 13px 26px;
		padding: 26px 42px 45px 30px;
		line-height: 1.1;
		flex-grow: 1;
	}

	/* .trend-about_p {
		padding: 32px 98px 44px 23px;
	} */

	.trend-link {
		font-size: 0.875rem;
	}

	.trend-title {
		font-size: 1.063rem;
		line-height: 1.3;
		margin-bottom: -13px;
		margin-top: 10px;
	}

	.trends {
		margin-bottom: 51px;
	}
}

/*Стили блока трендов для мобильной версии*/

@media (max-width: 767px) {
	.trends {
		margin-bottom: 0;
	}

	.trends-title {
		margin-top: -19px;
		padding: 0px 23px 35px 34px;
		font-size: 1em;
	}

	.trends-title::after {

		left: 11px;
		top: 28px;
	}

	.trends-items {
		display: flex;
		flex-wrap: wrap;
		width: 100vw;
	}

	.trend-item {
		flex: 1 1 100vw;
		min-height: 230px;
	}

	.trend-link {
		font-size: 0.9rem;
	}

	.trend-title {
		margin-bottom: 0px;
		margin-top: 9px;
		font-size: 1rem;
	}

	.trend-about {
		padding: 30px 31px 25px 18px;
		margin: 0px 35px 18px 15px;
		flex-grow: 1;
	}

	.trend-about_p {
		padding: 27px 97px 25px 19px;
		margin-bottom: 15px;
	}
}


/*--------------------------------------------------*/

/* Стилизация основного блока новостей */


.content-main-aside {
	display: flex;
	flex-wrap: wrap;

}

.post-list {
	margin-left: -9px;
	margin-right: 5%;
	width: 67.8%;
}

.post-list-item {
	display: flex;

	margin: 0 0 61px 32px;

	box-sizing: border-box;
}

.post-list-item-music {
	margin-bottom: 59px;
}

.post-list-item-final {
	margin-bottom: 0px;
}

.post-list-img {
	width: 381px;

	margin-right: 30px;

	object-fit: contain;
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -3px;
}

.category-list-item:nth-child(n + 2) {
	margin-left: 19px;
}

.category-link {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	color: #b59f5b;
}

.category-link:hover {
	text-decoration: underline;

	cursor: pointer;
}

.title {
	margin: 7px 0px 30px 0;

	font-size: 1.25rem;
	text-transform: uppercase;
	line-height: 1.2;
}

.title-link:hover {
	color: #b59f5b;
}

.title-link {
	color: #0f0d0e;
}

.date-author {
	display: flex;
	margin-bottom: 49px;
}

.date-author-music {
	margin-bottom: 45px;
}

.date-author-kitchen {
	margin-bottom: 46px;
}

.date,
.author {

	font-size: 0.75rem;
	color: #888888;
}

.author {
	margin-left: 12px;

	font-weight: 700;
	color: #000000;
	letter-spacing: 0.1px;
}

.text {
	font-size: 0.938rem;
	line-height: 1.4;
}

.paragraph-music {
	margin-bottom: 13px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Стили для планшета*/
@media (min-width: 768px) and (max-width: 1199px) {

	.post-list {
		margin-left: -14px;
		margin-right: 2px;
		width: 63%;
	}

	.post-list-item {
		flex-wrap: wrap;
		width: 51vw;
		margin: -7px 0 67px 25px;
	}

	.post-list-img {
		min-height: 313px;
		width: 392px;
	}

	.category-list {
		margin-top: 4px;
	}

	.title {
		margin: 11px 0px 35px -2px;
		padding-right: 0px;
		font-size: 1.06rem;
	}

	.date-author {
		margin-bottom: 30px;
	}

	.date-author-music {
		margin-bottom: 28px;
	}

	.post-list-item-music {
		margin: -7px 0 63px 26px;
	}
}

/*Стили для мобильных*/

@media (max-width: 767px) {
	.post-list {
		margin-left: 0px;
		width: 100%;
	}

	.post-list-item {
		width: 91vw;
		margin: 40px 0px 57px 0px;
		flex-wrap: wrap;
	}

	.post-list-item:nth-child(2) {
		margin: 35px 0px 54px 0px;
	}

	.post-list-item:nth-child(4) {
		margin: 55px 0px 52px 0px;
	}

	.post-list-img {
		margin-right: 0;
		width: 92vw;
		object-fit: contain;
	}

	.post-about {}

	.category-list {
		margin-top: 12px;
	}

	.date-author {
		margin-bottom: 14px;
	}

	.title {
		margin: 7px 0px 20px 0;
		font-size: 1rem;
	}

	.text {
		margin-bottom: 3px;
		padding-right: 2px;
		font-size: 0.88rem;

	}

	.paragraph-music {
		margin-bottom: 5px;
	}
}

/*---------------------------------------------------*/

/* Стилизация боковой панели новостей */

.side-bar {

	width: 271px;

	box-sizing: border-box;
}


/* Стили рубрики "Новые посты" и формы поиска */
.latest-posts {
	margin-bottom: 58px;
}

.side-bar-title {
	position: relative;

	font-size: 0.875rem;
	text-align: center;
	text-transform: uppercase;
}

.side-bar-title-new-post {
	margin: -4px -8px 43px 0;
}

.side-bar-title::after {
	content: "";
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 27px;

	width: 66px;
	height: 3px;

	background: #e1d9bd;
}

.latest-post-item {
	display: flex;

	margin-bottom: 22px;
}

.latest-post-img {
	margin-right: 20px;
	width: 70px;
}

.latest-post-title {
	margin-top: 2px;

	font-size: 0.875rem;
	line-height: 1.3;
	text-transform: uppercase;
}


.latest-post-discription {
	margin-top: -6px;
}

.side-date {
	font-size: 0.75rem;
	color: #888888;
}

.latest-post-link {
	color: #0f0d0e;
}

.latest-post-link:hover {
	color: #b59f5b;
}

.search {
	margin-top: 60px;
}

.search-field {
	position: relative;

	width: 223px;
	height: 48px;

	padding: 18px;

	background: #f4f7f6;
	border: 1px solid #f4f7f6;

	font-size: 0.813rem;

	box-sizing: border-box;
}


.search-field:focus {
	outline: none;
	border: 1px solid #b59f5b;
}

/* \/ nрансформация placeholder \/ */

:focus::-webkit-input-placeholder {
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	-o-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-webkit-transform: translateX(-500px);
	transform: translateX(-500px);
}

/* /\ nрансформация placeholder /\ */

.search-button {
	background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg") no-repeat center/ 18px #b59f5b;
	position: absolute;

	width: 48px;
	height: 48px;

	border: none;

	cursor: pointer;
}

.search-button:hover {
	background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg") no-repeat center/ 18px #323232;
}


/*---------------------------------------------*/

/* Стили раздела "Рассылка", и формы подписки */
.mailing-title {
	margin-bottom: 38px;
}

.email-field {
	margin-bottom: 17px;
	padding: 18px;

	width: 100%;
	height: 48px;

	border: 1px solid #f4f7f6;
	background: #f4f7f6;

	font-size: 0.813rem;
	letter-spacing: 0.2px;

	box-sizing: border-box;
}

.email-field:focus {
	outline: none;
	border: 1px solid #b59f5b;
}

.subscribe-btn {
	margin-bottom: 59px;
	padding-left: 4px;

	width: 100%;
	height: 48px;


	background: #b59f5b;

	letter-spacing: 0.3px;
	font-size: 0.875rem;
	;
	text-transform: uppercase;
	color: #ffffff;

	border: none;

	box-sizing: border-box;
	cursor: pointer;
}

.subscribe-btn:hover {
	background: #323232;
}

/*-----------------------------------------------*/

/* Стили раздела "Теги" */
.tags-title {
	margin: -2px -4px 39px 0;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 52px;
}

.tags-list-item {
	margin: -1px 8px 5px 0;
	padding: 3px 13px;

	border: 3px solid #ededed;

	text-align: center;
	vertical-align: middle;

	box-sizing: border-box;
}

.tags-link {
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	font-size: 0.75rem;
}

.tags-list-item:hover {
	border: 3px solid #b59f5b;
	text-shadow: 1px 1px #a4a3a4;
}

/*------------------------------------------------*/

/* Стили раздела "Темы" */
.side-bar-title-themes {
	margin: 0px -6px 21px 0;
}

.theme-list-item {
	padding: 12px 0;

	font-size: 0.875rem;
	font-weight: 700;

	border-bottom: 1px solid #eeeeee;
}

.theme-list-item:nth-child(n + 4) {
	padding: 11px 0;
}

.theme-list-link:hover {
	color: #b59f5b;
}

.align-sup {
	color: #b59f5b;
	vertical-align: super;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.search-field {
		width: 85%;
	}

	.side-bar {
		width: 35.3vw;
	}

	.side-bar-title-new-post {
		margin: -4px -22px 44px 0;
	}

	.latest-posts {
		margin-bottom: 57px;
		margin-left: 5px;
	}

	.tags-list-item {
		margin: 0px 9px 6px 14px;
		padding: 2px 5px;
	}

	.latest-post-img {
		margin-right: 15px;
	}

	.theme-list-item {
		padding: 12px 4px;
	}

	.subscribe-btn {
		margin-left: 7px;
	}

}


@media (max-width: 767px) {
	.side-bar {
		width: 92vw;
	}

	.side-bar-title-new-post {
		margin: 5px 0px 40px 0px;
		font-size: 1em;
	}

	.latest-posts {
		width: 92vw;
		margin-bottom: 42px;
	}

	.latest-post-img {
		margin-right: 19px;
	}

	.search-field {
		width: 85%;
	}

	.side-bar-title {
		font-size: 1rem;
	}

	.mailing-title {
		margin-bottom: 36px;
	}

	.subscribe-btn {
		margin-bottom: 41px;
		margin-left: -1px;
	}

	.tags-title {
		margin: 1px 0px 32px 0px;
	}

	.tags-list-item {
		margin: 4px 3px;
		padding: 2px 12px;
	}

	.tags-list {
		margin-bottom: 37px;
	}

	.side-bar-title-themes {
		margin: 0px 4px 21px 0;
	}

}

/*------------------------------------------------*/

/*Стилизация блока "Наши изделия"*/

.products {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	width: 100%;
}

.product-title {
	position: relative;
	margin: -1px -17px 38px 0;

	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
}

.product-title::after {
	content: "";
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 32px;

	width: 66px;
	height: 3px;

	background: #e1d9bd;
}

.products-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.product-card {
	display: flex;
	flex-direction: column;
	flex-basis: 20.7vw;
	margin-left: 25px;
	box-sizing: border-box;
}

.product-card:nth-child(n + 3) {
	margin-right: 5px;
}

.product-card-image {
	align-self: center;
}

.product-card-title {
	padding-top: 13px;
	padding-bottom: 3px;
	font-size: 1.25rem;
	text-align: left;
	text-transform: uppercase;
}

.product-card-discription {
	padding-bottom: 20px;
	font-size: 0.938rem;
	text-align: left;
	line-height: 1.5;
}

.product-card-link {
	color: #b59f5b;
}

.product-card-link:hover {
	text-decoration: underline;
}

.product-card-price {
	display: flex;
	flex-direction: column;
	flex-basis: 203px;
	padding: 36px 21px 20px 19px;
	margin-top: -33px;
	margin-right: -2px;
	border: 3px solid #b59f5b;
}

.product-price {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.old-price {
	font-size: 0.875rem;
	text-decoration: line-through;
}

.new-price {
	font-size: 1.25rem;
	font-weight: 700;
}

.store {
	background-color: #b59f5b;
	padding: 16px 31px;
	border: none;
	cursor: pointer;
	font-size: 0.875rem;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.store:hover {
	background-color: #323232;
}

@media (min-width: 768px) and (max-width: 1199px) {

	.products-cards {
		justify-content: start;
	}

	.product-title {
		margin: -3px -21px 42px 0;
		font-size: 1.1rem;
	}

	.product-card {
		flex-basis: 33vw;
		margin-left: 14px;
	}

	.product-card:nth-child(2) {
		margin-left: 50px;
	}

	.product-card:nth-child(n + 3) {
		margin-top: 28px;
	}

	.product-card-image {
		margin-left: 18px;
	}

	.product-card-title {
		padding-top: 15px;
		font-size: 1.1rem;
	}

	.product-card-price {
		flex-basis: 204px;
		padding: 33px 13px 18px 19px;
		margin-top: -36px;
		margin-right: -24px;
	}

	.product-card-price-last {
		flex-basis: 186px;
		padding: 37px 13px 18px 19px;
		margin-top: -41px;
	}
}

@media (max-width: 767px) {
	.products {
		width: 92vw;
	}

	.product-title {
		margin: 49px 0px 38px 13px;
		font-size: 1rem;
	}

	.product-card {
		margin-left: 0px;
		margin-bottom: 21px;
	}

	.product-card:nth-child(n + 2) {
		margin-bottom: 31px;
	}

	.product-card-image {
		margin-left: 19px;
	}

	.product-card-price {
		flex-basis: 167px;
		padding: 32px 21px 21px 17px;
		margin-right: -30px;
	}

	.product-card-title {
		padding-top: 17px;
		font-size: 1.06rem;
	}

	.product-card-title_doll {
		padding-top: 11px;
	}

	.product-card-discription {
		padding-bottom: 17px;
	}

	.store {
		margin-top: 3px;
	}
}

/*------------------------------------------------*/

/* Стилизация футера */
.footer {
	text-align: center;
}

.socials-list {
	display: flex;
	justify-content: center;

	margin-left: 24px;
	padding: 31px 15px;

	background: #f4f7f6;
}

.social-list-item:nth-child(n + 2) {
	margin-left: 30px;
}

.social-list-link {
	display: block;

	width: 20px;
	height: 20px;
}

.dribbble {
	background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg") no-repeat center center/ 20px 20px;
}

.pinterest {
	background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg") no-repeat center center/ 20px 20px;
}

.tumblr {
	background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg") no-repeat center center/ 20px 20px;
}

.copyright {
	margin: 72px -32px 41px 0;

	font-size: 0.75rem;
	letter-spacing: 0.2px;
	color: #999999;
}

@media (max-width: 767px) {
	.footer {
		margin-top: -40px;
	}

	.socials-list {
		margin-left: 20px;
		padding: 19px 14px;
	}

	.copyright {
		margin: 61px 0px 41px 28px;
	}
}

/*---------------------------------------------------*/
